* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
}

#app {
    opacity: 0;
    transition: opacity 0.5s;
}

#app.visible {
    opacity: 1;
}

.log {
    font-family: monospace;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    overflow: auto;
    transition: height 0.1s;

    font-size: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.log.closed {
    height: 0px;
}

.log-control {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
}

.log-control:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

.log-entry {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    white-space: pre-wrap;
}

.menu-content, .info-content {
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #000;
    background-position: 50% 50%;
}

.menu {
    position: relative;
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    grid-row-gap: 10px;
    margin: auto;
    width: 300px;
    height: 100%;

    padding: 10px;
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

.menu > .title {
    position: absolute;
    top: 50%;
    left: -20px;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    transform: translateX(-100%) translateY(-50%);
}

.menu-item {
    border: solid 1px rgba(255, 255, 255, 0.5);
    padding: 10px;
    text-align: center;
    transition: color 0.1s, background-color 0.1s;
    background-color: rgba(255, 255, 255, 0);
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

.account {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(0%);
    transition: transform 0.1s;
}

.account.closed {
    transform: translateX(100%);
}

.account > .balance {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
}

.credit-card {
    position: relative;
    margin: 10px;
    margin-left: 0;
    color: #000;
    height: 150px;
    width: 239px;
    border-radius: 5px;
    background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1834&q=80");
    background-color: #666;
    background-size: 100% auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.credit-card > .name {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    text-transform: uppercase;
}

.credit-card > .number {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: monospace;
    font-size: 15px;
    letter-spacing: 2px;
}

.credit-card > .chip {
    position: absolute;
    top: 50px;
    left: 15px;
    background: #886;
    width: 32px;
    height: 24px;
    border-radius: 4px;
}

.credit-card > .logo {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.info-content > .info {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;

    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

.info > .header, .info > .footer {
    padding: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.info > .header {
    height: 200px;
    line-height: 200px;
    font-size: 20px;
    text-align: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.info > .content {
    padding: 20px;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
}